#content {
    align-content: center;
    text-align: center;
}
#content > button {
    padding: 10px;
    font-family: nocturne, -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", Helvetica, Arial, sans-serif;
    background: #4950a2;
    /*background-color: linear-gradient(90deg,rgba(90, 117, 198, 1) 0%, rgba(225, 183, 187, 1) 100%);*/
    color: white;
    font-size: x-large;
    border-radius: 20px;
    transition: background ease 0.5s;
}
#content > button:hover {
    background: #5A75C6;
}


#display-grid {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
}

#display-grid > img {
    max-height: 300px;
    width: auto;
    align-self: center;
    margin-bottom: 1em;
}

@media only screen and (max-width: 600px) {
    #display-grid > img {
        max-width: 90%;
        max-height: auto;
    }
}