@font-face {
    font-family: nocturne;
    src: url("../fonts/NocturneSerifTest-Light.otf");
}
body {
    margin: 0;
    top: 0;
    font-family: nocturne, -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", Helvetica, Arial, sans-serif;
}

#page-container {
    position: relative;
    min-height: 100vh;
}
a:hover {
    cursor: pointer;
}

/*
* Color scheme::after
* Blue: 5a75c6, 4950a2
* Green: 9ad8d0
* Muted: e1b7bb, d2a6b0, be99bd
*/



.header {
    width: 100%;
}
hr {
    width: 80%;
    color: #e1b7bb;
}
a {
    text-decoration: none;
}


#body {
    display: block;
    margin: 2em 0;
}

#nav {
    position: sticky;
    top: 0;
    z-index: 10000;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 5em;
    margin: 0 auto;
    padding: 0 0 4em 0;
    background-image: linear-gradient(white, white, rgba(0,0,0,0));
}
#nav > a {
    height: 2em;
    width: 8em;
    margin: 0 1em;
    text-align: center;
    align-content: center;
    text-decoration: none;
    font-size: 30px;
    color: black;
    background-image: linear-gradient(to right, rgba(0,0,0,0), #be99bd, #be99bd, rgba(0,0,0,0));
    text-shadow: 0 0 8px #ffff;
    /*background-color: #be99bd;*/
    transition: all 0.3s ease-out;
}
#nav > #current { /*GET WORKING*/
    background-image: linear-gradient(to right, rgba(0,0,0,0), #d2a6b0, #d2a6b0, rgba(0,0,0,0));
}
#nav > a:hover {
    padding: 0 1em;
    background-image: linear-gradient(to right, rgba(0,0,0,0), #e1b7bb, #e1b7bb, rgba(0,0,0,0));
    /*animation: glow 1s ease-out infinite alternate;*/
}
/*@keyframes glow {
    from {
        text-shadow: 0 0 60px #fff;
    }

    to {
        text-shadow: 0 0 40px #e1b7bb;
    }
}*/

#content {
    display: block;
    width: 90%;
    margin: 0 auto;
    border: 2px outset #be99bd ;
    border-radius: 2em;
    padding: 1em 3em;
    font-size: x-large;
}
h1 {
    text-align: center;
}
h2 {
    font-size: x-large;
}
p {
    font-size: medium;
}
@media only screen and (max-width: 600px) {
    #content {
        width: 100%;
        margin: 0;
        border: none;
        border-top: 2px outset #be99bd;
        border-bottom: 2px outset #be99bd;
    }
}

footer {
    height: 4em;
    margin-top: 2em;
    text-align: center;
    align-content: center;
    background-color: #4950a2;
    color: white;
    border-top: outset 6px #5a75c6;
}
