/* ============ RESUME ============ */
#project-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    
}

#project-container > div {
    width: 400px;
    height: auto;
    padding: 10px 20px;
    margin: 10px 0;
    border: 4px inset #4950a2;
    border-radius: 20px;
    text-align: left;
}

h2 {
    text-align: center;
}
hr.header {
    width: 20%;
    color: #4950a2;
}


#right-info a {
    color: #be99bd;
}
#right-info a:visited {
    color: #d2a6b0;
}
#right-info a:hover {
    color: #e1b7bb;
    text-shadow: 0 0 10px black;
}
#right-info a:active {
    color: #4950a2;
}

