body {
    color: white;
    margin: 0;
}
@font-face {
    font-family: pokeGB;
    src: url(../fonts/PokemonGb-RAeo.ttf);
}
.inconsolata-normal {
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.inconsolata-medium {
    font-family: "Inconsolata", monospace;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings: "wdth" 125;
  }
#page-container {
    position: relative;
    min-height: 100vh;
}



.flex-header {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    margin-bottom: 50px;
    background-color: black;
    top: 0;
    left: 0;
}
.flex-header > div {
    text-align: center;
}

#porygon {
    width: 100px;
    height: 140px;
    margin: 40px 0 40px 40px;
}
#name {
    width: 400px;
    height: 250px;
    margin: 20px 2%;
}
#name > h1 {
    padding: 30px 0 5px 0;
    background-color: white;
    color: black;
    font-size: 50px;
    text-shadow: 2px 2px 5px gray;
}
#first {
    width: 50%;
}
#last {
    width: 60%;
    margin: -50px 0 0 auto;
}


h1 > a {
    font-size: 26px;
    color: black;
    text-decoration: none;
}
.nav-container {
    display: flex;
    width:45%;
    height:100px;
    margin: 30px 5%;
}
.nav {
    text-align: center;
    width: 300px;
    height: 100px;
    background-color: white;
    transition: font-size 0.5s ease;
}
.nav:hover {
    font-size: 34px;
    box-shadow: 0px 8px 16px 0px black;
}
#home {
    position: relative;
    top: 0;
    right: 0;
}
#projects {
    position: relative;
    top: 50px;
    right: 40px;
}
#about {
    position: relative;
    top: 20px;
    right: 60px;
}


.audio-theme {
    position: static;
    right: 0;
    width: 140px;
    height: 100px;
    
    padding: 16px;
}
select {
    margin-top: 6px;
}
select, option {
    height: 30px;
    float: right;
    padding: 4px;
    border-style: none;
}



.body {
    width: 80%;
    margin-top: 300px;
    padding: 40px;
    background-color: rgba(0,0,0,0.8);
    box-shadow: 0px 8px 16px 0px black;
    border-top: double rgba(0,0,0,0.8) 10px;
    border-right: double rgba(0,0,0,0.8) 10px;
    border-bottom: double rgba(0,0,0,0.8) 10px;
    border-radius: 0 60px 60px 0;
    margin-bottom: 100px;
}
article {
    padding: 0 8px;
    border-radius: 8px;
    background-color: rgba(0,0,0,0.4);
    box-shadow: 0px 8px 16px 0px black;
    transition: box-shadow 0.5s ease;
}
article:hover {
    box-shadow: 0px 8px 16px 0px white;
}
article > p {
    margin-left: 10px;
}
code {
    margin-left: 20px;
    padding: 20px;
    background-color: gray;
    color: black;
    border-left: solid white 6px;
    border-top: solid white 6px;
    border-right: solid darkgray 6px;
    border-bottom: solid darkgrey 6px;
    border-radius: 6px;
}
hr {
    box-shadow: 0px 8px 16px 0px black;
}


footer {
    margin-top: 100px;
    padding: 20px;
    background-color: black;
    border-top: double white 10px;
}
footer > a {
    text-decoration: none;
    color: white;
}
